---
layout: pages
permalink: /contactar/
---
<p>
Puedes encontrarnos en la Delegación, en la sede
<a href="https://www.google.com/maps/place/UVa+Escuela+de+Ingenier%C3%ADas+Industriales.+Sede+Paseo+del+Cauce/@41.6598347,-4.7145476,17z/data=!4m15!1m9!2m8!1sHoteles!3m6!1sHoteles!2s41.6598347,+-4.7123589!3s0xd4712a6ad0de665:0xd56bc64aa043a3a6!4m2!1d-4.7123589!2d41.6598347!3m4!1s0xd4712a6ad0de665:0x4fe005cdaa2aedbb!8m2!3d41.6570157!4d-4.7103091">Paseo del Cauce</a>,
 en la segunda planta a la derecha.
</p>
<p>
Tenemos horario de atención:
</p>
{% include horario.html %}
<br>
<p>
Tambien puedes contactarnos por
<a class="icon-telegram link-telegram" href="https://telegram.me/{{ site.telegram }}">Telegram</a>
o mediante el siguiente formulario.
</p>
<h2>Formulario de contacto</h2>
{% include form.html %}
<br>
{% include validation.html %}
