---
permalink: /x-jedii.html
---
<!DOCTYPE html>
<html lang="es">
{% include head.html %}

<body>
    {% include navbar.html %}
    <div id="main">
        <div class="jumbotron jumbotron-fluid m-0" id="jedii1">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>Cuenta atras</p>
                        <button>Inscribirse</button>
                    </div>
                    <div class="col-6">
                        <p>Logo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid m-0" id="fenefa1"></div>
        <div class="jumbotron jumbotron-fluid m-0" id="jedii1">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>Dia 1</p>
                        <button>Inscribirse</button>
                    </div>
                    <div class="col-6">
                        <p>Logo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid m-0" id="fenefa1"></div>
        <div class="jumbotron jumbotron-fluid m-0" id="jedii1">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>Dia 2</p>
                        <button>Inscribirse</button>
                    </div>
                    <div class="col-6">
                        <p>Logo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid m-0" id="fenefa1"></div>
        <div class="jumbotron jumbotron-fluid m-0" id="jedii1">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>Dia 3</p>
                        <button>Inscribirse</button>
                    </div>
                    <div class="col-6">
                        <p>Logo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid m-0" id="fenefa1">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <button>Inscribirse</button>
                    </div>
                    <div class="col-6">
                        <p>Logo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid m-0" id="jedii1">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>Patrocinadores</p>
                    </div>
                    <div class="col-6">
                        <p>Colaboradores</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include js.html %}
</body>

</html>