<footer>
  <div class="jumbotron jumbotron-fluid bg-dark mb-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-5">
          <p class="text-white">Colegios:</p>
          <div class="row">
            <div class="col-6">
              <a class="" href="http://valladolid.coiim.es/">
                <img src="{{site.url}}{{site.baseurl}}/assets/logo/COIIMlogo.png" class="img-fluid" alt="COIIM">
              </a>
            </div>
            <div class="col-6">
              <a class="" href="http://www.copitiva.es/">
                <img src="{{site.url}}{{site.baseurl}}/assets/logo/COPITIVAlogo.png" class="img-fluid" alt="COPITIVA">
              </a>
            </div>
          </div>
          <br>
        </div>
        <div class="col-12 col-sm-7">
          <p class="text-white">Asociaciones:</p>
          <div class="row">
            <div class="col-4">
              <a class="" href="http://bestvalladolid.org/">
                <img src="{{site.url}}{{site.baseurl}}/assets/logo/BESTlogo.png" class="img-fluid" alt="BEST">
              </a>
            </div>
            <div class="col-4">
              <a class="" href="http://www.amuva.es/">
                <img src="{{site.url}}{{site.baseurl}}/assets/logo/AMUVAlogo.png" class="img-fluid" height="72" alt="AMUVA">
              </a>
            </div>
            <div class="col-4">
              <a class="" href="http://recreadesign.blogspot.com.es/">
                <img src="{{site.url}}{{site.baseurl}}/assets/logo/RECREAlogo.png" class="img-fluid" height="72" alt="RECREA">
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>
