<header>
  <div class="float-left  ml-2 mt-2">
    <a class="" href="{{site.url}}{{site.baseurl}}/">
      <img src="{{site.url}}{{site.baseurl}}/assets/logo/logoDele.svg" class="img-fluid" width="95"  height="95" alt="">
    </a>
  </div>
  <nav class="navbar navbar-expand navbar-light pl-0 pr-2">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="https://twitter.com/{{ site.twitter }}">
        <img src="{{ '/assets/logo/twitter.svg' | absolute_url }}" class="img-fluid" width="33" alt="">
      </a>
      <a class="nav-item nav-link" href="https://www.facebook.com/{{ site.facebook }}">
        <img src="{{ '/assets/logo/facebook.svg' | absolute_url }}" class="img-fluid" width="28" alt="">
      </a>
      <a class="nav-item nav-link icon-telegram link-telegram" href="https://telegram.me/{{ site.canalTelegram }}">
        <img src="{{ '/assets/logo/telegram.svg' | absolute_url }}" class="img-fluid" width="28" alt="">
      </a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{{site.url}}{{site.baseurl}}/contactar/">Contactar</a>
      <a class="nav-item nav-link" href="{{site.url}}{{site.baseurl}}/buscar/">
        <img src="{{ '/assets/logo/search.svg' | absolute_url }}" class="" width="20" alt="">
      </a>
    </div>
  </nav>
</header>
