<header>
  <div class="float-left  ml-2 mt-2">
    <a class="" href="{{site.url}}{{site.baseurl}}/">
      <img src="{{site.url}}{{site.baseurl}}/assets/logo/logoDele.svg" class="img-fluid" width="95"  height="95" alt="logo">
    </a>
  </div>
  <nav class="navbar navbar-expand navbar-light pl-2 py-0">
    <div class="navbar-nav mr-auto pb-2">
      <div class="addthis_inline_follow_toolbox"></div>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{{site.url}}{{site.baseurl}}/contactar/">Contactar</a>
      <a class="nav-item nav-link" href="{{site.url}}{{site.baseurl}}/buscar/">
        <img src="{{site.url}}{{site.baseurl}}/assets/logo/search.svg" class="" width="20" alt="buscar">
      </a>
    </div>
  </nav>
</header>
