<script>
$('.dropdown-submenu > a').on("click", function(e) {
    var submenu = $(this);
    $('.dropdown-submenu .dropdown-menu').removeClass('show');
    submenu.next('.dropdown-menu').addClass('show');
    e.stopPropagation();
});

$('.dropdown').on("hidden.bs.dropdown", function() {
    // hide any open menus when parent closes
    $('.dropdown-menu.show').removeClass('show');
});
</script>
<div class="row">
   {% for titulacion in site.data.titulaciones %}
     <div class="col-6 col-sm-3">
       <br>
       <div class="dropdown">
         <button class="btn btn-sm btn-block btn-dark dropdown-toggle" type="button" id="dropdownButton" data-toggle="dropdown">
           {{ titulacion.nombre }}
         </button>
        <ul class="dropdown-menu">
           {% if titulacion.masteres %}
             {% for master in titulacion.masteres %}
                 <li class="dropdown-item dropdown-submenu"><a href="#" class="dropdown-toggle" id="menu" data-toggle="dropdown" >
                 {{ master.nombre }}
                  </a>
                 {% if forloop.last == true %}
                 {% else %}
                {% endif %}
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href={{ master.horario }}>Horario</a></li>
                  <li class="dropdown-item"><a href={{ master.examenes }}>Exámenes</a></li>
                  <li class="dropdown-item"><a href={{ master.asignaturas }}>Asignaturas</a></li>
                  <li class="dropdown-item"><a href={{ master.plan }}>Plan</a></li>
                </ul>
            </li>
            {% endfor %}
          {% else %}
           <li class="dropdown-item"><a href={{ titulacion.horario }}>Horario</a></li>
           <li class="dropdown-item"><a href={{ titulacion.examenes }}>Exámenes</a></li>
           <li class="dropdown-item"><a href={{ titulacion.asignaturas }}>Asignaturas</a></li>
           <li class="dropdown-item"><a href={{ titulacion.plan }}>Plan</a></li>
           {% endif %}
        </ul>
       </div>
     </div>
   {% endfor %}
 </div>

