<div class="row">
  {% for titulacion in site.data.titulaciones %}
    <div class="col-6 col-sm-3">
      <br>
      <div class="dropdown">
        <button class="btn btn-sm btn-block btn-dark" type="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ titulacion.nombre }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownButton">
          {% if titulacion.masteres %}
            {% for master in titulacion.masteres %}
              <button class="dropdown-item" type="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ master.nombre }}
              </button>
              {% if forloop.last == true %}
              {% else %}
              <div class="dropdown-divider"></div>
              {% endif %}
              <div class="dropdown-menu" aria-labelledby="dropdownButton">
                <a class="dropdown-item" href={{ master.horario }}>Horario</a>
                <a class="dropdown-item" href={{ master.examenes }}>Exámenes</a>
                <a class="dropdown-item" href={{ master.asignaturas }}>Asignaturas</a>
                <a class="dropdown-item" href={{ master.plan }}>Plan</a>
              </div>
            {% endfor %}
          {% else %}
          <a class="dropdown-item" href={{ titulacion.horario }}>Horario</a>
          <a class="dropdown-item" href={{ titulacion.examenes }}>Exámenes</a>
          <a class="dropdown-item" href={{ titulacion.asignaturas }}>Asignaturas</a>
          <a class="dropdown-item" href={{ titulacion.plan }}>Plan</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
