---
layout: default
---
<style>
  p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
</style>

<div class="jumbotron jumbotron-fluid pb-3">
  <div class="container">
    <br>
    <h1>{{page.title}}</h1>
    {% include share.html %}
  </div>
</div>
<div class="container">

  {{ content }}

  <div class="row">
    <div class="col-6">
      {% if page.previous.url %}
        <a class="previous" href="{{site.url}}{{site.baseurl}}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="col-6 text-right">
      {% if page.next.url %}
        <a class="next" href="{{site.url}}{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </div>
  </div>

  <div class="jumbotron py-3">
    <h2>Noticias Relacionadas</h2>
    <div class="card-deck">
      {% for post in site.related_posts limit:3 %}
        {% include card.html %}
      {% endfor %}
    </div>
  </div>
</div>
